extends layout

block content
	div#detail
		h1#title.borderBlock #{title}
		p.error #{err.message}
		div#usernameDiv.infoBlock
			label Username
			p #{user.username}
		div#sidDiv.infoBlock
			label Sid
			p #{user.sid}
		div#phoneDiv.infoBlock
			label Phone
			p #{user.phone}
		div#emailDiv.infoBlock
			label Email
			p #{user.email}
		a(href="/signout") Signout
	link(rel="stylesheet" type="text/css" href="stylesheets/detail.css")
